@import "../../Styles/variables", "../../Styles/mixins", "../../Styles/globalrules";

.banner {
  width: 100%;
  height: 250px;
  margin: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  .banner__text {
    border-radius: 10px 0 0 10px;
    width: 55%;
    background-color: $darkyellow;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    z-index: 991;

    p {
      @include fontStyle(40px, black, 700, 40px);
      text-align: left;
      position: absolute;
      top: 50%;
      left: 12%;
      transform: translate(-50%, -50%);
      z-index: 99;

      &::after {
        content: url("../../Assets/triangle.svg");
        filter: brightness(0) saturate(100%) invert(97%) sepia(88%) saturate(3782%) hue-rotate(314deg) brightness(93%)
          contrast(96%);
        top: -45px;
        right: -40px;
        position: absolute;
        transform: rotate(35deg);
      }

      &::before {
        content: url("../../Assets/triangle.svg");
        filter: brightness(0) saturate(100%) invert(97%) sepia(88%) saturate(3782%) hue-rotate(314deg) brightness(93%)
          contrast(96%);
        top: 90px;
        left: -25px;
        position: absolute;
        transform: rotate(55deg);
      }
    }

    span {
      @include fontStyle(25px, white, 700, 32px);
    }

    &::after {
      background-color: $yellow;
      content: " ";
      width: 55%;
      height: 100%;
      position: absolute;
      left: 0;
      clip-path: polygon(0 0, 90% 0, 95% 100%, 0 100%);
      border-radius: 10px 0 0 10px;
    }
  }

  .banner__image {
    width: 45%;
    height: 250px;
    margin-left: -100px;
    margin-right: 0px;
    object-fit: cover;
    object-position: 30% 20%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    border-radius: 0 10px 10px 0;
  }
}
